body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    font-family: Arial, sans-serif;}
ul {
    list-style: none;
    padding: 0;
    display: flex;
}

li {
    flex: 1;
    text-align: center;
}

.progress {
    background-color: #ff6600;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.progress i {
    display: none;
}

.text {
    margin-top: 5px;
}

.one {
    width: 25%;
}

.two {
    width: 50%;
}

.three {
    width: 75%;
}

.four {
    width: 100%;
}

.one p {
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

